# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [58]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy.stats import ttest_rel, ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [54]:
checkPValue = lambda p,threshold=0.05: "--> Null(H0) hypotesis rejected" if p < threshold else "--> We cannot reject the null hypotesis"

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [53]:
# Your code here:

leg_mean = np.mean(pokemon["Legendary"]==True)
leg_desv = np.std(pokemon["Legendary"]==True)
non_leg_mean = np.mean(pokemon["Legendary"]==False)
non_leg_desv = np.std(pokemon["Legendary"]==False)

print(leg_mean)
print(leg_desv)
print(non_leg_mean)
print(non_leg_desv)

0.08125
0.2732186624299299
0.91875
0.2732186624299299

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [59]:
# Your code here:

a = pokemon["Total"][(pokemon["Legendary"]==True)]
b = pokemon["Total"][(pokemon["Legendary"]==False)]

t= ttest_ind(a, b, axis=0, nan_policy='propagate')
print(t)
checkPValue(t[1])

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

'--> Null(H0) hypotesis rejected'

What do you conclude from this test? Write your conclusions below.

In [61]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [62]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [78]:
# Your code here:
water = pokemon["Total"][(pokemon["Type 1"]=="Water")]
a = np.mean(water)
a_desv= np.std(water)
non_water = pokemon["Total"][(pokemon["Type 1"]!="Water")]
b = np.mean(non_water)
b_desv = np.std(non_water)

print("mean water: ",a)
print("std water: ",a_desv)
print("mean non-water: ",b)
print("std non-water: ",b_desv)

mean water:  430.45535714285717
std water:  112.68182832909096
mean non-water:  435.85901162790697
std non-water:  121.00364762501167

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [83]:
# Your code here:

t= ttest_ind(water["Total"], non_water["Total"])
print(t)
checkPValue(t[1])

KeyError: 'Total'

KeyError: 'Total'

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [25]:
checkPValue = lambda p,threshold=0.05: "--> Null(H0) hypotesis rejected" if p < threshold else "--> We cannot reject the null hypotesis"

In [27]:
# Your code here:
a = pokemon["Attack"]
b = pokemon["Defense"]
t= ttest_rel(a, b, axis=0, nan_policy='propagate')
print(t)
checkPValue(t[1])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

'--> Null(H0) hypotesis rejected'

Describe the results of the test in the cell below.

In [20]:
# Your conclusions here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [85]:
# Your code here:

a= np.mean(pokemon["Attack"][pokemon["Attack"].notnull()])
b = np.mean(pokemon["Defense"][pokemon["Defense"].notnull()])

t= ttest_rel(pokemon["Attack"], pokemon["Defense"], nan_policy='omit')

print(t)
checkPValue(t[1])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

'--> Null(H0) hypotesis rejected'

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: