# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [30]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [31]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [32]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [33]:
# Your code here:

pokemon['Legendary'].value_counts()
# 735 not legendary - 65 si

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [34]:
# Your code here:
legendary_pokemon = pokemon[pokemon.Legendary == True]
not_legendary_pokemon = pokemon[pokemon.Legendary == False]
mean_legendary =legendary_pokemon['Total'].mean(axis=0)
std_legendary = legendary_pokemon['Total'].std(axis=0)
mean_notlegendary = not_legendary_pokemon['Total'].mean(axis=0)
std_notlegendary =not_legendary_pokemon['Total'].std(axis=0)
print(f'pokemon legendarios tienen {mean_legendary} medio de ataque y desv standard {std_legendary}')
print(f'pokemon no legendarios tienen {mean_notlegendary} medio de ataque y desv standard {std_notlegendary}')

pokemon legendarios tienen 637.3846153846154 medio de ataque y desv standard 60.93738905315346
pokemon no legendarios tienen 417.21360544217686 medio de ataque y desv standard 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [35]:
from scipy.stats import t
from scipy import stats
checkPValue = lambda p,threshold=0.05: "--> Null(H0) hypotesis rejected" if p < threshold else "--> We cannot reject the null hypotesis"

In [36]:
# Your code here:
t, p = stats.ttest_ind(legendary_pokemon.Total,not_legendary_pokemon.Total)
print(f"t={t} p={p}")
checkPValue(p)

t=16.386116965872425 p=3.0952457469652825e-52

'--> Null(H0) hypotesis rejected'

What do you conclude from this test? Write your conclusions below.

In [37]:
# Your conclusions here:
# que las dos muestras de pokemon vienen de poblaciones diferentes

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [38]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [39]:
# Your code here:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']
water_pokemon = pd.DataFrame(water_pokemon)
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']
other_pokemon = pd.DataFrame(other_pokemon)
mean_water_pokemon =water_pokemon['Total'].mean(axis=0)
std_water_pokemon = water_pokemon['Total'].std(axis=0)
mean_other_pokemon = other_pokemon['Total'].mean(axis=0)
std_other_pokemon =other_pokemon['Total'].std(axis=0)
print(f'pokemon waters tienen {mean_water_pokemon} medio de ataque y desv standard {std_water_pokemon}')
print(f'pokemon no waters tienen {mean_other_pokemon} medio de ataque y desv standard {std_other_pokemon}')

pokemon waters tienen 430.45535714285717 medio de ataque y desv standard 113.18826606431458
pokemon no waters tienen 435.85901162790697 medio de ataque y desv standard 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [40]:
# Your code here:

t, p = stats.ttest_ind(water_pokemon.Total,other_pokemon.Total)
print(f"t={t} p={p}")
checkPValue(p)

t=-0.4418547448849676 p=0.6587140317488793

'--> We cannot reject the null hypotesis'

Write your conclusion below.

In [41]:
# Your conclusions here:
# los pokemon de agua sono comparables con

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [42]:
# Your code here:
t, p = stats.ttest_rel(pokemon["Attack"],pokemon["Defense"])
print(t,p)
print(f"t={t} p={p}")
checkPValue(p)

4.325566393330478 1.7140303479358558e-05
t=4.325566393330478 p=1.7140303479358558e-05

'--> Null(H0) hypotesis rejected'

Describe the results of the test in the cell below.

In [43]:
# Your conclusions here:
# hay diferencía entre los dos sample y la hypotesis se rechaza

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [44]:
# Your code here:
t, p = stats.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])
print(t,p)
print(f"t={t} p={p}")
checkPValue(p)

0.853986188453353 0.3933685997548122
t=0.853986188453353 p=0.3933685997548122

'--> We cannot reject the null hypotesis'

Describe the results of the test in the cell below.

In [45]:
# Your conclusions here:
# no hay diferencia significativa entre la defensa especial y la de ataque especial.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [46]:
# diferentes pruebas con Nerea, Tenemos las dudas si uno de los 3 sea el procedimiento corecto!
meanAttack = pokemon[['Attack']].mean()
meanDefense = pokemon[['Defense']].mean()

In [47]:
a = stats.ttest_1samp(pokemon["Attack"],meanDefense, nan_policy="omit")
print(a)
checkPValue(a.pvalue)

Ttest_1sampResult(statistic=Defense    4.495481
dtype: float64, pvalue=array([7.96795083e-06]))

'--> Null(H0) hypotesis rejected'

In [48]:
# Your code here:
b=stats.ttest_1samp(pokemon['Attack']-pokemon['Defense'],0, nan_policy="omit")
print(b)
checkPValue(b.pvalue)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

'--> Null(H0) hypotesis rejected'

In [49]:
c = stats.ttest_1samp(pokemon["Defense"],meanAttack, nan_policy="omit")
print(c)
checkPValue(c.pvalue)

Ttest_1sampResult(statistic=Attack   -4.679125
dtype: float64, pvalue=array([3.38290804e-06]))

'--> Null(H0) hypotesis rejected'

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [57]:
# Your code here:
#https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])
display(table)

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [58]:
# Your code here:
# hice esto, pero no se leer los resultados y si lo hice bien
# la tabla de arriba no se si cojí las corectas series.
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(table)
print(f'stat ={stat}, p={p}, dof={dof}, expected={expected}')

stat =90.4204913058596, p=5.118547414721704e-12, dof=17, expected=[[ 63.39375  28.48125  29.4      40.425    15.61875  24.80625  47.775
    3.675    29.4      64.3125   29.4      22.05     90.0375   25.725
   52.36875  40.425    24.80625 102.9    ]
 [  5.60625   2.51875   2.6       3.575     1.38125   2.19375   4.225
    0.325     2.6       5.6875    2.6       1.95      7.9625    2.275
    4.63125   3.575     2.19375   9.1    ]]

Based on a 95% confidence, should we reject the null hypothesis?

In [61]:
# Your answer here:
checkPValue(p)

'--> Null(H0) hypotesis rejected'