#        ######################## SUM ####################

In [21]:
                                         ######SUM####
                                       #se usa para sumar valores d euna lista, set, dict, o tupla .
                                        #estos valores pueden ser numeros enteros o float no string
        
        
#List

listA = [
    11.2,
    18,
    19,
    21,
    46
]

print(sum(listA))

#tupla
tupA = (
    11,
    18,
    19,
    21,
    46
)

print(sum(tupA))

#set
setA = {
    11,
    18,
    19,
    21,
    46
}

print(sum(setA))

#dict
dictA = {
    11: 'Eleven',
    18: 'Dustin',
    19: 'Mike',
    21: 'Lucas',
    46: 'Noah'
}

print(sum(dictA))

dictA = {
    '11': 'Eleven',
    '18': 'Dustin',
    '19': 'Mike',
    '21': 'Lucas',
    '46': 'Noah'
}

print("".join(dictA))


                                                    #si lo que s equiere unir son string, utilizar join.
#otro ejemplo de join aunque no viene al caso
print('-'.join(['1','2','4','1']))

115.2
115
115
115
1118192146
1-2-4-1

# APPEND

In [ ]:
#sirve para a√±adir elementos

In [ ]:
# BOOLEAN

In [ ]:
# STRING

In [ ]:
# LISTS

In [ ]:
# TUPLES

In [ ]:
# DICTS

In [ ]:
# SETS

#        ######################## LEN ####################

In [ ]:
# INTEGER

In [ ]:
# FLOAT

In [ ]:
# BOOLEAN

In [ ]:
# STRING

In [ ]:
# LISTS

In [ ]:
# TUPLES

In [ ]:
# DICTS

In [ ]:
# SETS

In [58]:

n = ["Marta","Ana","Laura"]

print(len(n))

3

In [38]:
nombres = [1,2,3,4]

for i in range(len(nombres)):
    print(nombres[i])

1
2
3
4

In [67]:

n = ["Marta","Ana","Laura"]

for e in n:
    print(e)

# Index iteration
for i in range(len(n)):
    print(i,n[i])
    print(i,n)

Marta
Ana
Laura
0 Marta
0 ['Marta', 'Ana', 'Laura']
1 Ana
1 ['Marta', 'Ana', 'Laura']
2 Laura
2 ['Marta', 'Ana', 'Laura']