# For

In [ ]:
                          

                                           #####FOR#####
    
                                   #loop for iterador (hay m√°s tipos)#

#tu en un loop puedes iterar sobre una secuencia 
#(es decir, una lista, una tupla, un diccionario, un conjunto o una cadena).

# String
x = "Hello World"

for i in x:
    print(i)

# Lists
x = ["apple", "banana", "cherry"]
for i in x:
    print(i)

# Tuples
x = (31,'prog',4.0)
for i in x:
    print(i)

# Dicts
x = dict(name="John", age=36)
for i in x:
    print(i)

# Set
x = set(("apple", "banana", "cherry"))
for i in x:
    print(i)

In [81]:
#que no es un iterador y como podemos hacerlo?
 #Iter, Float y built in funcion
    


#Integer

numero =str(456) #hay que hacerlo iterable para el for, osea un acadena x ej
suma =0
for cifra in numero:
    suma += int(cifra)#aqui se vuelve a pasar a entero porque noo se puede sumar un entero con cadena
    print(suma)        #importante que el += esten pegados o da error
    
    
    #otro ejemplo de iterar integer

x= 456

for i in range(x):    #utilizar un range para iterarlo 
    print(i)

#Float
import numpy
x = numpy.arange(0,2.2)

for i in x: 
    print(i)                    #para los float =numpy.arange or numpy.linspace (si se quiere poner el numero de muestras (entrada,salida,muestra)
                             #se obtiene un array
                            
                             #otra opcion puede ser enumerate 
    
    

#curiosidad: for i = 1 to 10 

#esto es lo mismo que for i in rage810

0.5
1.5

# SUM

In [56]:
                                         ######SUM####
                                       #se usa para sumar valores d euna lista, set, dict, o tupla .
                                        #estos valores pueden ser numeros enteros o float no string
        
        
#List

listA = [
    11.2,
    18,
    19,
    21,
    46
]

print(sum(listA))

#tupla
tupA = (
    11,
    18,
    19,
    21,
    46
)

print(sum(tupA))

#set
setA = {
    11,
    18,
    19,
    21,
    46
}

print(sum(setA))

#dict
dictA = {
    11: 'Eleven',
    18: 'Dustin',
    19: 'Mike',
    21: 'Lucas',
    46: 'Noah'
}

print(sum(dictA))

dictA = {
    '11': 'Eleven',
    '18': 'Dustin',
    '19': 'Mike',
    '21': 'Lucas',
    '46': 'Noah'
}

print("".join(dictA))


                                                    #si lo que s equiere unir son string, utilizar "loquelouna"join.un_iterable
#otro ejemplo de join aunque no viene al caso
print(''.join(['1','2','4','1']))
print('ho'.join(['1','2','4','1']))

115.2
115
115
115
1118192146
1241
1ho2ho4ho1

# Append

In [45]:
#sirve para meter elementos dentro de una lista NO ES PARA SET , NI DICT , NI TUPLA

#Estos elementos pueden ser desde un valor/valores , string , TAMBN TUPLAS, LISTAS, SETS  Y DICTS
#pero semeten dentro con sus parentesis, corchetes o llaves

language = ['French']

valor_a_a√±adir = 2

language.append(valor_a_a√±adir)

print(language)

language = ['French']
valor_a_a√±adir = 2,5

language.append(valor_a_a√±adir)
print(language)

#tuplas/dict/list/set en listas s emeten con sus parentesis o lo que sea

language = ['French']
set_a_a√±adir = {'Chinese', 'Japanese'}

language.append(set_a_a√±adir)
print(language)


#si queremos que se metan sin los parentesis y dem√°s entonces utilizar¬°OJO solo los iterables, sino append

['French', 2]
['French', (2, 5)]
['French', {'Chinese', 'Japanese'}]
['French', 'Chinese', 'Japanese']
[2, 3, 'Rodrigo', 4]

In [ ]:
#APPEND.EXTEND

language = ['French']
set_a_a√±adir = {'Chinese', 'Japanese'}

language.extend(set_a_a√±adir)
print(language)

#insert , es igual que extend

#insert nos permite agregar un elemento (‚ÄúRodrigo‚Äù) en donde queramos introduciendo el indice (3):
mi_lista= [2,3,4]
mi_lista.insert(2, "Rodrigo")
print(mi_lista)

# COMO HACER UN APPEND EN UNA TUPLA

In [12]:
#convert tuple a list
tuples=('Product', '500.00', '1200.00')  #al hacer una comprehensive s ecombierte en lista
result = [e for e in tuples]
result.append(2)
print(result)


tuples=()  
result = ["hola", "adios"]
result.append(2)
print(result)

#Convert list to tuple
tuplex = (5, 10, 7, 4, 15, 3)           # usando list.
listx = list(tuplex) 
print(listx)

['Product', '500.00', '1200.00', 2]
['hola', 'adios', 2]
[5, 10, 7, 4, 15, 3]

In [9]:
#Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]          #usando tuple.
tuplex = tuple(listx)
print(tuplex)

listx = [5, 10, 7, 4, 15, 3]          #usando tuple.
listx = tuple(listx)
print(tuplex)


#Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]   #desempaquetar elementos de una lista en una tupla
tuplex =(*listx,)
print(tuplex)

(5, 10, 7, 4, 15, 3)
(5, 10, 7, 4, 15, 3)

# APEND EN UN SET

In [72]:
#ad. equivaldr√≠a a el append que mete valor/valores pero en un set

language = {'French'}

valor_a_a√±adir = 2

language.add(valor_a_a√±adir)

print(language)

language = {'French'}
valor_a_a√±adir = 2,5,9,10

language.add(valor_a_a√±adir)
print(language)

#¬øpero porque al a√±adir listas da error? Edit: 
#some explanation: The documentation defines a set as an unordered collection of distinct hashable objects.
#si quiero a√±adir una lista es mutable

"""
language = {'French'}
lista_a_a√±adir = ['Chinese', 'Japanese']       #error unhashabletype
language.add(lista_a_a√±adir)
print(language)
"""

language = {'French'}
lista_a_a√±adir = ['Chinese', 'Japanese']       #error unhashabletype
tupla_a_a√±adir =tuple(lista_a_a√±adir)
language.add(tupla_a_a√±adir)
print(language)                                #como vemos no puede haber listas dentro de un set, solo inmutables
                                            #si aceptar√≠a una tupla
"""
Lista de tipos inmutables:

int, float, decimal, complex, bool, string, tuple, range, frozenset, bytes
Lista de tipos mutables:

list, dict, set, bytearray, user-defined classes
"""

#language = {'French'}
#lista_a_a√±adir = {
#   11: 'Eleven',
#    18: 'Dustin',
#   19: 'Mike',                                   #y si intentamos a√±adir un dict? ##error
#   21: 'Lucas',
#   46: 'Noah'
#}                  
#language.add(lista_a_a√±adir)
#print(language)

{2, 'French'}
{(2, 5, 9, 10), 'French'}
{('Chinese', 'Japanese'), 'French'}

'\nLista de tipos inmutables:\n\nint, float, decimal, complex, bool, string, tuple, range, frozenset, bytes\nLista de tipos mutables:\n\nlist, dict, set, bytearray, user-defined classes\n'

In [71]:
 
    
language = {'French'}
set_a_a√±adir = ['Chinese', 'Japanese']
language.update(set_a_a√±adir)
print(language)
                                                       #update equivaldr√≠a a extend , que no mete parentesis,
                                                        solo valores, de ahi que deje meter set y dics dentro
        
language = {'French'}
set_a_a√±adir = {'Chinese', 'Japanese'}
language.update(set_a_a√±adir)
print(language)
                                                            #ojoSI queremos a√±adir a un set no ser√≠a language= {}

language = set()
set_a_a√±adir = {'Chinese', 'Japanese'}
language.update(set_a_a√±adir)
print(language)

IndentationError: unexpected indent (<ipython-input-71-57d300c82f1c>, line 6)

# APPEND EN UN DICT

In [109]:


d = {'key':'value'}
d['mynewkey'] = 'mynewvalue'     ## Updates if 'a' exists, else adds 'a' 
                                 #por eso no se pone ni add ni update #mas bn asigna elementos
print(d)

                                #el apend de lista y el add. de set , este si mete lo sparentesis,
                                 #COMO LE PASA AL ADD DE SET , NO PUEDEN METERSE MUTABLES, EN LAS KEYS, SIN 
                                    #EMBARGO SI , EN LOS VALUES
  #EJ          
""" 
dicionario= {'1': "frances"} 
dicionario{3:3} = ["CSharp","hola","adios"]    # METIENDO UN DIC EN KEYS SALE ERROR
print(dicionario)
"""

dicionario= {'1': "frances"} 
dicionario [(3,3)] = ["CSharp","hola","adios"]   # METIENDO UNA DUPLA EN KEYS NO SALE
print(dicionario)


dicionario= {'1': "frances"} 
dicionario [(3,3)] = {'1': "frances"}   # METIENDO UN DIC EN VALUES, SI SE PUEDE
print(dicionario)
                                 
dicionario= {'1': "frances"} 
dicionario["3"] = "CSharp","hola","adios"
print(dicionario)                


dicionario= {'1': "frances"} 
dicionario["3"] = {"CSharp","hola","adios"}
print(dicionario)



dicionario= {'1': "frances"} 
dicionario["3"] = ["CSharp","hola","adios"]
print(dicionario)

{'key': 'value', 'mynewkey': 'mynewvalue'}
{'1': 'frances', (3, 3): ['CSharp', 'hola', 'adios']}
{'1': 'frances', (3, 3): {'1': 'frances'}}
{'1': 'frances', '3': ('CSharp', 'hola', 'adios')}
{'1': 'frances', '3': {'hola', 'CSharp', 'adios'}}
{'1': 'frances', '3': ['CSharp', 'hola', 'adios']}

In [66]:

#recordatorio: update no incluye parentesis y se utiliza en set . ser√≠a el extend de lista 

dicionario = {'1': "frances"}

valor_a_a√±adir = {3:4, 5:6, 7:8}

dicionario.update(valor_a_a√±adir)

print(dicionario)




                                            #recordemos que para igualar numeros lo hacemos con llaves
dicionario = {'1': "frances"}
valor_a_a√±adir = dict(a=34, b=6, c=8)
dicionario.update(valor_a_a√±adir)

print(dicionario)

#OJO CON ESCRIBIRLO ROLLO DICT 

"""
                                                 #esto da el error"SyntaxError: keyword can't be an expression"
   dicionario = dict(1=1, 4=2, 5=3)                                              #you're trying to call a function called "dict" with two keyword arguments,
                                                but your keywords doesn't match Python's identifier syntax.
                                                dicionario.update(valor_a_a√±adir)
                                                #da igual que lleve comillas en key or value, da error, igualar a letra
"""

dicionario = {} #dict()                           #igual a√±adiendo desde un dicionario vacio .Tambn se puede dict()

valor_a_a√±adir = {3:4, 5:6, 7:8}

dicionario.update(valor_a_a√±adir)

print(dicionario)


dicionario = dict(a=1, b=2, c=3)
valor_a_a√±adir= {'1': "frances"}                                    
dicionario.update(valor_a_a√±adir)                       #otra forma d eescribir un dic, se puede usar como dic o para a√±adir partes
print(dicionario)





dicionario= {'1': "frances"} 
valor_a_a√±adir = dict(a=1, b=2, c=3)
dicionario.update(valor_a_a√±adir)                       #otra forma d eescribir un dic, se puede usar como dic o para a√±adir partes
print(dicionario)

{'key': 'value', 'mynewkey': 'mynewvalue'}
{'1': 'frances', '3': {'hola', 'CSharp', 'adios'}}
{'1': 'frances', 3: 4, 5: 6, 7: 8}
{'1': 'frances', 'a': 34, 'b': 6, 'c': 8}
{3: 4, 5: 6, 7: 8}
{'a': 1, 'b': 2, 'c': 3, '1': 'frances'}
{'1': 'frances', 'a': 1, 'b': 2, 'c': 3}

# M√ÅS SOBRE DICCIONARIOS

In [130]:
nombres = ["Juan","Pepe","Marta"]
tuple(enumerate(nombres))

((0, 'Juan'), (1, 'Pepe'), (2, 'Marta'))

In [125]:
nombres = ["Juan","Pepe","Marta"]
print(enumerate(nombres))

<enumerate object at 0x7f8538581fc0>

In [128]:
nombres = ["Juan","Pepe","Marta"]

for n in enumerate(nombres):
    print(n[0],n[1])

0 Juan
1 Pepe
2 Marta

In [131]:
nombres = ["Juan","Pepe","Marta"]

for n in enumerate(nombres):
    print(list(n))

[0, 'Juan']
[1, 'Pepe']
[2, 'Marta']

In [132]:
nombres = ["Juan","Pepe","Marta"]

for i,e in enumerate(nombres):
    print("üë®")
    if e == "Pepe":
        print(i,e)
    else:
        print("hola",i)

üë®
hola 0
üë®
1 Pepe
üë®
hola 2

In [134]:
nombres = ["Juan","Pepe","Marta"]

for i,e in enumerate(nombres):
    print(i,e)

0 Juan
1 Pepe
2 Marta

In [135]:

nombres = ["Juan","Marta","David","Ana"]
apellidos = ["Garc√≠a", "L√≥pez","P√©rez"]

for n,a in zip(nombres, apellidos):
    print("Nombre:",n,"Apellido:",a)
    print(f"Nombre: {n} Apellido: {a}")

Nombre: Juan Apellido: Garc√≠a
Nombre: Juan Apellido: Garc√≠a
Nombre: Marta Apellido: L√≥pez
Nombre: Marta Apellido: L√≥pez
Nombre: David Apellido: P√©rez
Nombre: David Apellido: P√©rez

In [143]:
nombres = ["Pepe","Marta","Ana"]
apellidos = ["Garcia","Lopez","Perez"]
notas = [[5,3],[2,5,9],[3]]



print( notas[i])

[3]

# LEN

In [145]:
#¬øC√≥mo funciona len () con tuplas, listas y rangos?

testList = []
print(len(testList))

testList = [1, 2, 3]
print(len(testList))

testTuple = (1, 2, 3)
print(len(testTuple))

testRange = range(1, 10)
print(len(testRange))                         #AQUI EL ULTIMO NUMERO DEL RANGO NO LO CUENTA , ES 9

0
3
3
9

In [146]:
#¬øC√≥mo funciona len () con cadenas ?
testString = ''
print(len(testString))

testString = 'Python'
print(len(testString))                #CUENTA CADA UNA DE LAS LETRAS

0
6

In [ ]:
#¬øC√≥mo funciona len () con diccionarios y conjuntos?
testSet = {1, 2, 3}
print(len(testSet))

# Empty Set
testSet = set()
print(len(testSet))

testDict = {1: 'one', 2: 'two'}
print(len(testDict))

testDict = {}
print(len(testDict))

testSet = {1, 2}
# frozenSet
frozenTestSet = frozenset(testSet)
print(len(frozenTestSet))

In [2]:


 print(len(range(10))

SyntaxError: unexpected EOF while parsing (<ipython-input-2-b8e122529c79>, line 2)

In [6]:
a=len(range(10))
for i in range(len(a)):
    print(a[i])

TypeError: object of type 'int' has no len()

In [16]:
lista = ["carmen","elena","lucia","sara","patricia","sonsoles"] 

for i in range(0,len(lista)):
    print( lista(i))

TypeError: 'list' object is not callable

In [11]:
print(schoolSystem['schools'][1])

{'name': 'Fake School 2', 'classRooms': [{'teacher': {'firstName': 'Lucas', 'lastName': 'Schroeder', 'age': 29}, 'students': [{'firstName': 'Giuseppe', 'lastName': 'Hegmann', 'age': 24}, {'firstName': 'Jennyfer', 'lastName': 'Hane', 'age': 19}, {'firstName': 'Mikayla', 'lastName': 'Braun', 'age': 23}, {'firstName': 'Rickie', 'lastName': 'White', 'age': 22}, {'firstName': 'Rose', 'lastName': 'Collins', 'age': 30}, {'firstName': 'Lucille D.', 'lastName': 'Lozano', 'age': 'NA'}]}, {'teacher': {'firstName': 'Green', 'lastName': 'Sauer', 'age': 25}, 'students': [{'firstName': 'Melany', 'lastName': 'Welch', 'age': 25}, {'firstName': 'Paxton', 'lastName': 'Corkery', 'age': 22}, {'firstName': 'Nellie', 'lastName': 'Hauck', 'age': 26}, {'firstName': 'Eunice', 'lastName': 'Hirthe', 'age': 26}, {'firstName': 'Aylin', 'lastName': 'Barrows', 'age': 26}]}]}

In [13]:
print(['classRooms'][0])

classRooms

# ITERAR INDICES

In [68]:
#listas
n = 1,2,3

for i in range(len(n)):
    print(i,n[i])
    print(i ,n[i])
 
print(type(n))

0 1
0 1
1 2
1 2
2 3
2 3
<class 'tuple'>

In [57]:

#listas
n = ["Marta","Ana","Laura"]
for i in range(len(n)):
    print(i,n[i])

0 Marta
1 Ana
2 Laura

In [58]:
#tuplas
n = ("Marta","Ana","Laura")
for i in range(len(n)):
    print(i,n[i])

a = ((1,2),(2,3),(3,4))    
for e in a:
    print(e[0],e[1])

0 Marta
1 Ana
2 Laura
1 2
2 3
3 4

In [65]:
#diccionarios iterar con o sin indice

#con

clients = {'Aldrich': 1.97,
           'Enrico': 8.49,
           'Christoper': 9.79,
           'Cherice': 8.53,
           'Margi': 0.43 
          }

for name in enumerate(clients):
    print(name[1],clients[name[1]])

Aldrich 1.97
Enrico 8.49
Christoper 9.79
Cherice 8.53
Margi 0.43

In [41]:
#sin
clients = {'Aldrich': 1.97,
           'Enrico': 8.49,
           'Christoper': 9.79,
           'Cherice': 8.53,
           'Margi': 0.43}

for name in (clients):
    print(name)
    print(clients[name])

Aldrich
1.97
Enrico
8.49
Christoper
9.79
Cherice
8.53
Margi
0.43

In [54]:

a = {1, 2, 3}

for e in a:
    print(e)
    

a = {1, 2, 3}

for e,i in enumerate(a):
   
    print(i,)

1
2
3
1
2
3

# Pruebas

In [71]:
                                   #loop for iterador (hay m√°s tipos)#

#tu en un loop puedes iterar sobre una secuencia 
#(es decir, una lista, una tupla, un diccionario, un conjunto o una cadena).

# String
x = "Hello World","hola", "adios"

for i in x:
    print(i)

# Lists
x = ["apple", "banana", "cherry"]
for i in x:
    print(i)

# Tuples
x = (31,'prog',4.0)
for i in x:
    print(i)

# Dicts
x = dict1 = {
    "Hello": 56,
    "at" : 23 ,
    "test" : 43,
    "this" : 43
    }
dict2 = { 'where' : 4 ,
     'who' : 5 ,
     'why': 6 ,
     'this' : 20 
     }
for i in x:
    print(i)

# Set
x = set(("apple", "banana", "cherry"))
for i in x:
    print(i)

Hello World
hola
adios
apple
banana
cherry
31
prog
4.0
Hello
at
test
this
banana
cherry
apple

In [2]:
# String
String = "Hello World","hola", "adios"
for key in (String):
    print(key,String[key])

TypeError: tuple indices must be integers or slices, not str

In [4]:
letras = "Hello World","hola", "adios"
for i, letra in enumerate(letras, 1):
  print(i, letra)

1 Hello World
2 hola
3 adios

In [ ]:
for name in (clients):
    print(name,clients[name])

# ENUMERATE

In [10]:

#Opera recibiendo como argumento cualquier objeto iterable---TODOS MENOS ENTEROS Y FLOAT
#y retornando uno nuevo cuyos elementos son tuplas de dos elementos



#LIIIIIISTA

#ejemplo
lenguajes = ["Java", "C", "C++", "Rust", "Elixir"]
list(enumerate(lenguajes))

# [(0, 'Java'), (1, 'C'), (2, 'C++'), (3, 'Rust'), (4, 'Elixir')] # el primero, un √≠ndice (empezando por el cero);
                                                                #el segundo, el elemento que se encuentra en esa posici√≥n en el objeto iterable original.


# los elementos de enumerate() (es decir, las tuplas) se generan a medida que son utilizadas, 
#de ah√≠ que si queremos ver el resultado completo debamos convertirlo a una lista
#No es necesario si tenemos un for, pues se pueden imprimir en pantalla cada uno de los elementos en la lista
lenguajes = ["Java", "C", "C++", "Rust", "Elixir"]
for i, lenguaje in enumerate(lenguajes):
    print(i, lenguaje)

list(enumerate(lenguajes))

0 Java
1 C
2 C++
3 Rust
4 Elixir

[(0, 'Java'), (1, 'C'), (2, 'C++'), (3, 'Rust'), (4, 'Elixir')]

In [12]:
lenguajes = ["Java", "C", "C++", "Rust", "Elixir"]
for i, lenguaje in enumerate(lenguajes, 2):         #si se le pone un valor al lado del iterable
    print(i, lenguaje)

2 Java
3 C
4 C++
5 Rust
6 Elixir

In [16]:
#STRIIIING

letras = "abcdefghijk"
for i, letra in enumerate(letras, 1):
    print(i, letra)

1 a
2 b
3 c
4 d
5 e
6 f
7 g
8 h
9 i
10 j
11 k

In [17]:
#TUPLA
letras = (3,4)
for i, letra in enumerate(letras, 1):
    print(i, letra)

1 3
2 4

In [21]:
#dicionario
productos = {
  'frutas': {
     ' manzanas': [' verdes', ' 7', ' rojas', ' 5'],
      'uvas': [' negras', ' 5', ' verdes', ' 3']
   }
}
    
for i, letra in enumerate(productos, 1):
    print(i, productos)

1 {'frutas': {' manzanas': [' verdes', ' 7', ' rojas', ' 5'], 'uvas': [' negras', ' 5', ' verdes', ' 3']}}

In [44]:
#entero

#letras = 4
#for i, letra in enumerate(letras, 1):   #da error porque no es iterable ,por eso hay que hacerlo de la siguiente forma
    #print(i, letra)
    
lenguajes= range(1,7)  
for i in lenguajes:
    print(i, lenguajes[i])             #tener en cuenta en poner un numero mas o dos en ete caso al poner coma


 
    import numpy as np
x=np.arange(0.3)
for i in x:
    print(i, x[i])

1 2
2 3
3 4
4 5
5 6

IndexError: range object index out of range

In [47]:
def calcular(importe, descuento): 
    return importe - descuento

datos = [1500, 10] 
print(calcular(*datos))

1490

In [3]:
def praderazo(simbolo,veces=5):
    print(simbolo*42)
for n in range(veces):
    print(simbolo,'La casa de la pradera, pedazo serie...',simbolo)
    print(simbolo*42)

IndentationError: expected an indented block (<ipython-input-3-81f1a1a58341>, line 4)

In [5]:
def praderazo(simbolo,veces=5):
    print(simbolo*42)
    for n in range(veces):
      print(simbolo,'La casa de la pradera, pedazo serie...',simbolo)
    return print(simbolo*42)

In [7]:
employee_name = 'Abder'
 
def print_name(name):
    print(name)
     
print_name(employee_name)

Abder

In [9]:
class Person:
    name = ''
    school = ''
     
    def print_information(self, name, school):
        print(self.name)
        print(self.school)
             
jorge = Person()
jorge.name = 'Jorge'
jorge.school = 'Universidad de la vida'
jorge.print_information(jorge.name, jorge.school)

Jorge
Universidad de la vida