# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [10]:
# import reduce from functools, numpy and pandas
from functools import reduce
import numpy as np
import pandas as pd

# Challenge 1 - Mapping

#### We will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [11]:
# Run this code:

location = '../58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [12]:
# Your code here:
prophet = prophet[567:]

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [22]:
# Your code here:
print(prophet[0:10])

['Farewell................92\n\n\n\n\nTHE', 'PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [94]:
def reference(x):
    return x.split('{')[0]

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [95]:
prophet_reference = list(map(reference, prophet))

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [96]:
def line_break(x):
    return x.split('\n')

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [97]:
prophet_line = list(map(line_break, prophet_reference))

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [98]:
def flatter(x):
    return ''.join(' '.join(x))
prophet_flat = list(map(flatter, prophet_line))
# esto si quiero una string unica
prophet_flat = (' '.join(prophet_flat))
# uno split mas me permite dividir qualquier palabra
prophet_flat = (prophet_flat.split())

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [99]:
def word_filter(x):
    word_list = ['and', 'the', 'a', 'an']
    return x not in word_list  

    
prophet_filter = list(filter(word_filter, prophet_flat))

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [100]:
def word_filter_case(x):
    word_list = ['and', 'the', 'a', 'an']
    return x.lower() not in word_list

prophet_filter = list(filter(word_filter_case, prophet_flat))

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [101]:
def concat_space(a, b):
    return a + ' ' + b

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [103]:
# Your code here:
prophet_string = reduce(concat_space, prophet_filter)
#para que el output no sea demasiado largo
print(prophet_string[:3000])

Farewell................92 PROPHET |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve years in city of Orphalese for his ship that was to return bear him back to isle of his birth. in twelfth year, on seventh day of Ielool, month of reaping, he climbed hill without city walls looked seaward; he beheld his ship coming with mist. Then gates of his heart were flung open, his joy flew far over sea. he closed his eyes prayed in silences of his soul. ***** But as he descended hill, sadness came upon him, he thought in his heart: How shall I go in peace without sorrow? Nay, not without wound in spirit shall I leave this city. days of pain I have spent within its walls, long were nights of aloneness; who can depart from his pain his aloneness without regret? Too many fragments of spirit have I scattered in these streets, too many are children of my longing that walk naked among these hills, I cannot withdraw from them without burden ache. It is not garment I cast off this day, but skin that I tear with my own hands. Nor is it thought I leave behind me, but heart made sweet with hunger with thirst. ***** Yet I cannot tarry longer. sea that calls all things unto her calls me, I must embark. For to stay, though hours burn in night, is to freeze crystallize be bound in mould. Fain would I take with me all that is here. But how shall I? voice cannot carry tongue lips that gave it wings. Alone must it seek ether. alone without his nest shall eagle fly across sun. ***** Now when he reached foot of hill, he turned again towards sea, he saw his ship approaching harbour, upon her prow mariners, men of his own land. his soul cried out to them, he said: Sons of my ancient mother, you riders of tides, How often have you sailed in my dreams. now you come in my awakening, which is my deeper dream. Ready am I to go, my eagerness with sails full set awaits wind. Only another breath will I breathe in this still air, only another loving look cast backward, then I shall stand among you, seafarer among seafarers. you, vast sea, sleepless mother, Who alone are peace freedom to river stream, Only another winding will this stream make, only another murmur in this glade, then shall I come to you, boundless drop to boundless ocean. ***** as he walked he saw from afar men women leaving their fields their vineyards hastening towards city gates. he heard their voices calling his name, shouting from field to field telling one another of coming of his ship. he said to himself: Shall day of parting be day of gathering? shall it be said that my eve was in truth my dawn? what shall I give unto him who has left his plough in midfurrow, or to him who has stopped wheel of his winepress? my heart become tree heavy-laden with fruit that I may gather give unto them? shall my desires flow like fountain that I may fill their cups? Am I harp that hand of mighty may touch me, or flute that his breath may pass through me? seeker of silences am I, what treasure have I found

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [112]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [113]:
# Your code here:

pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [114]:
def hourly(x):
    return x/24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [116]:
# Your code here:
lista = ['Iws', 'Is', 'Ir']
for x in lista:
    pm25[x] = list(map(hourly, pm25[x]))
#para que el output sea pequeño
pm25.head(20)

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,0.003108,0.0,0.0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,0.008542,0.0,0.0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,0.011649,0.0,0.0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,0.017083,0.0,0.0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,0.022517,0.0,0.0
5,6,2010,1,1,5,NaN,-19,-10.0,1017.0,NW,0.027951,0.0,0.0
6,7,2010,1,1,6,NaN,-19,-9.0,1017.0,NW,0.033385,0.0,0.0
7,8,2010,1,1,7,NaN,-19,-9.0,1017.0,NW,0.036493,0.0,0.0
8,9,2010,1,1,8,NaN,-19,-9.0,1017.0,NW,0.041927,0.0,0.0
9,10,2010,1,1,9,NaN,-20,-8.0,1017.0,NW,0.047361,0.0,0.0
10,11,2010,1,1,10,NaN,-19,-7.0,1017.0,NW,0.054340,0.0,0.0
11,12,2010,1,1,11,NaN,-18,-5.0,1017.0,NW,0.059774,0.0,0.0
12,13,2010,1,1,12,NaN,-19,-5.0,1015.0,NW,0.065208,0.0,0.0
13,14,2010,1,1,13,NaN,-18,-3.0,1015.0,NW,0.070642,0.0,0.0
14,15,2010,1,1,14,NaN,-18,-2.0,1014.0,NW,0.076076,0.0,0.0
15,16,2010,1,1,15,NaN,-18,-1.0,1014.0,cv,0.001545,0.0,0.0
16,17,2010,1,1,16,NaN,-19,-2.0,1015.0,NW,0.003108,0.0,0.0
17,18,2010,1,1,17,NaN,-18,-3.0,1015.0,NW,0.004653,0.0,0.0
18,19,2010,1,1,18,NaN,-18,-5.0,1016.0,NE,0.003108,0.0,0.0
19,20,2010,1,1,19,NaN,-17,-4.0,1017.0,NW,0.003108,0.0,0.0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [117]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:
    return np.std(x)/(x.count()-1)

print(sample_sd(pd.Series([1,2,3,4])))

0.37267799624996495