# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [19]:
cust_prod=data.groupby(["CustomerID","ProductName"]).agg({"Quantity":"sum"}).reset_index()
cust_prod.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [70]:
prod_pivot_pivot=cust_prod.pivot_table(index="ProductName",values="Quantity", columns="CustomerID", fill_value=0, aggfunc="sum")
prod_cust_pivot.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [29]:
cust_dist=pd.DataFrame(1/(1+squareform(pdist(prod_cust_pivot.T, "euclidean"))), index=prod_cust_pivot.T.index,columns=prod_cust_pivot.T.index)
cust_dist.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [66]:
top5=list(cust_dist[33].sort_values(ascending=False).index)[1:6]
top5

[264, 3535, 3317, 2503, 3305]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [71]:
sim_cust=cust_prod[cust_prod["CustomerID"].isin(top5)]
sim_cust.head()

     CustomerID                 ProductName  Quantity
131         264           Apricots - Halves         1
132         264              Apricots Fresh         1
133         264  Bacardi Breezer - Tropical         1
134         264               Bagel - Plain         1
135         264             Banana - Leaves         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [81]:
ranked_products=sim_cust.groupby("ProductName").agg({"Quantity":"sum"}).sort_values("Quantity", ascending=False)
ranked_products.head()

                               Quantity
ProductName
Butter - Unsalted                     3
Wine - Ej Gallo Sierra Valley         3
Towels - Paper / Kraft                3
Soup - Campbells Bean Medley          3
Wine - Blue Nun Qualitatswein         3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [98]:
merge_rank=pd.merge(ranked_products,prod_cust_pivot[33], on="ProductName")
merge_rank.columns=["Quantity","Purchased"]
top5prod=merge_rank[merge_rank["Purchased"]==0].head(5)
list(top5prod.index)

['Butter - Unsalted',
 'Wine - Ej Gallo Sierra Valley',
 'Soup - Campbells Bean Medley',
 'Wine - Blue Nun Qualitatswein',
 'Chicken - Soup Base']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [139]:
recommendations={}
customers=cust_prod["CustomerID"].unique()
for customer in customers:
    top5=list(cust_dist[customer].sort_values(ascending=False).index)[1:6]
    similar_cust=cust_prod[cust_prod["CustomerID"].isin(top5)]
    ranked_products=similar_cust.groupby("ProductName").agg({"Quantity":"sum"}).sort_values("Quantity", ascending=False)
    merge_rank=pd.merge(ranked_products,prod_cust_pivot[customer], on="ProductName")
    merge_rank.columns=["Quantity","Purchased"]
    top5prod=merge_rank[merge_rank["Purchased"]==0].head(5)
    recommendations[f"{customer}"]=list(top5prod.index)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [135]:
customer_recommend=pd.DataFrame.from_dict(recommendations, orient="columns")
customer_recommend["Ranking"]=["top1","top2","top3","top4","top5"]
customer_recommend.set_index("Ranking")

,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
Ranking,,,,,,,,,,,,,,,,,,,,,
top1,Butter - Unsalted,Soup - Campbells Bean Medley,Soupfoamcont12oz 112con,"Veal - Inside, Choice",Olive - Spread Tapenade,Butter - Unsalted,Olive - Spread Tapenade,Cod - Black Whole Fillet,Bar - Granola Trail Mix Fruit Nut,"Veal - Inside, Choice",...,Cheese - Wine,Muffin Batt - Choc Chk,"Pork - Loin, Bone - In",Fenngreek Seed,"Placemat - Scallop, White","Soup - Campbells, Lentil",Skirt - 29 Foot,"Lamb - Whole, Fresh",Crackers - Trio,Beans - Wax
top2,Wine - Ej Gallo Sierra Valley,Muffin - Carrot Individual Wrap,Wine - Two Oceans Cabernet,Lamb - Ground,Sprouts - Baby Pea Tendrils,"Sauce - Gravy, Au Jus, Mix",Sprouts - Baby Pea Tendrils,Wine - Ej Gallo Sierra Valley,Wine - Magnotta - Belpaese,Sardines,...,Muffin - Carrot Individual Wrap,Papayas,Potatoes - Idaho 100 Count,"Wine - Red, Colio Cabernet",Rum - Mount Gay Eclipes,"Cheese - Brie,danish",Beans - Kidney White,Bread - Raisin Walnut Oval,Pernod,Sherry - Dry
top3,Soup - Campbells Bean Medley,Bay Leaf,Bread - Italian Roll With Herbs,Pomello,Wine - Blue Nun Qualitatswein,"Pepper - Black, Whole",Wine - Blue Nun Qualitatswein,Yoghurt Tubes,Appetizer - Mushroom Tart,Wine - Ej Gallo Sierra Valley,...,"Lentils - Red, Dry",Meldea Green Tea Liquor,Pants Custom Dry Clean,Grenadine,Tofu - Firm,Wiberg Super Cure,Milk - 1%,Chips Potato Salt Vinegar 43g,Tea - Jasmin Green,Pork - Hock And Feet Attached
top4,Wine - Blue Nun Qualitatswein,Pork - Kidney,"Veal - Inside, Choice",Butter - Unsalted,"Pepper - Black, Whole","Peas - Pigeon, Dry","Veal - Inside, Choice","Pepper - Black, Whole","Peas - Pigeon, Dry","Pepper - Black, Whole",...,Meldea Green Tea Liquor,Wine - Chablis 2003 Champs,Cake - Box Window 10x10x2.5,Ice Cream Bar - Oreo Cone,Sobe - Tropical Energy,Pants Custom Dry Clean,Cheese - Taleggio D.o.p.,Tea - English Breakfast,Pastry - Choclate Baked,Pears - Bosc
top5,Chicken - Soup Base,Wanton Wrap,"Fish - Scallops, Cold Smoked","Tart Shells - Sweet, 4",Soup - Campbells Bean Medley,Bar - Granola Trail Mix Fruit Nut,"Pepper - Black, Whole",Soupfoamcont12oz 112con,"Pepper - Black, Whole",Wine - Blue Nun Qualitatswein,...,Coffee - Dark Roast,Mussels - Frozen,Pie Filling - Cherry,Halibut - Fletches,"Cheese - Boursin, Garlic / Herbs",Shrimp - 31/40,Sprouts - Baby Pea Tendrils,Wine - Redchard Merritt,"Peas - Pigeon, Dry","Soup - Campbells, Cream Of"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [138]:
cust_dist_jaccard=pd.DataFrame(1/(1+squareform(pdist(prod_cust_pivot.T, "jaccard"))), index=prod_cust_pivot.T.index,columns=prod_cust_pivot.T.index)
recommendations1={}
customers=cust_prod["CustomerID"].unique()
for customer in customers:
    top5=list(cust_dist_jaccard[customer].sort_values(ascending=False).index)[1:6]
    similar_cust=cust_prod[cust_prod["CustomerID"].isin(top5)]
    ranked_products=similar_cust.groupby("ProductName").agg({"Quantity":"sum"}).sort_values("Quantity", ascending=False)
    merge_rank=pd.merge(ranked_products,prod_cust_pivot[customer], on="ProductName")
    merge_rank.columns=["Quantity","Purchased"]
    top5prod=merge_rank[merge_rank["Purchased"]==0].head(5)
    recommendations1[f"{customer}"]=list(top5prod.index)

In [140]:
print(recommendations1["33"])
print(recommendations["33"])

['Loquat', 'Milk - 2%', 'Muffin Mix - Blueberry', 'Blueberries', 'Cheese - Brie, Triple Creme']
['Butter - Unsalted', 'Wine - Ej Gallo Sierra Valley', 'Soup - Campbells Bean Medley', 'Wine - Blue Nun Qualitatswein', 'Chicken - Soup Base']

**El índice Jaccard lo que calcula es el grado de similitud entre dos conjuntos, realizando la división de lo que tienen en común dividio entre la unión. Por otro lado, la distancia euclídea calcula la diferencia entre dos puntos. Por lo tanto, como podemos observar el resultado es diferente en cada caso.**