## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [69]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [70]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print (sample_list_1)

[28, 60, 77, 80, 17, 16, 45, 33, 4, 18, 0, 11, 67, 95, 32, 58, 43, 94, 22, 78, 98, 13, 85, 52, 38, 40, 39, 12, 61, 88, 6, 91, 31, 59, 3, 66, 84, 50, 83, 89, 14, 70, 37, 20, 2, 71, 44, 74, 10, 96, 79, 48, 86, 72, 27, 90, 57, 97, 54, 21, 1, 49, 68, 46, 41, 24, 23, 25, 8, 36, 34, 5, 63, 30, 35, 9, 51, 29, 99, 19]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [71]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [72]:
# Your code here
sample_list_2 = []

for r in range(80):
    sample_list_2.append(random.randint(1, 100))

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [73]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [74]:
# Your code here
set3 = []

for s in set1:
    if s not in set2:
        set3.append(s)

set3 = set(set3)
print (set3)

{0, 1, 2, 3, 5, 9, 11, 12, 13, 19, 20, 27, 32, 33, 35, 36, 37, 38, 41, 43, 44, 45, 48, 50, 51, 54, 61, 68, 70, 74, 79, 84, 88, 91, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [75]:
# Your code here
set4 = []

for s in set2:
    if s not in set1:
        set4.append(s)

set4 = set(set4)
print (set4)

{64, 100, 73, 42, 75, 47, 15, 81, 87, 55, 56, 92, 93, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [76]:
# Your code here

set5 = []

for s in set2:
    if s in set1:
        set5.append(s)

set5 = set(set5)
print (set5)

{4, 6, 8, 10, 14, 16, 17, 18, 21, 22, 23, 24, 25, 28, 29, 30, 31, 34, 39, 40, 46, 49, 52, 57, 58, 59, 60, 63, 66, 67, 71, 72, 77, 78, 80, 83, 85, 86, 89, 90, 94, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [77]:
# Your code here

#set2 = set5 + set4
#set1 = set3 + set5

if len(set2) == (len(set4) + len(set5)):
    print ("First formula is true")
if len(set1) == (len(set3) + len(set5)):
    print ("Second formula is true")

First formula is true
Second formula is true

#### Create an empty set called `set6`.

In [78]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [79]:
adding = set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [80]:
if set1 == set6:
    print("set1 and set6 are equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [81]:
z = set2.issubset(set1)
print("Set 1 cointains set 2 is",z)

y = set3.issubset(set1)
print("Set 1 cointains set 3 is",y)

Set 1 cointains set 2 is False
Set 1 cointains set 3 is True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [82]:
set345 = set3.union(set4,set5)
set12 = set1.union(set2)

if set345 == set12:
    print("The union of set 3,4,5 is equal to the union of set 1 and 2.")

The union of set 3,4,5 is equal to the union of set 1 and 2.

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
# Your code here

set1 = list(set1)
set1.pop(0)
set1 = set(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 57, 58, 59, 60, 61, 63, 66, 67, 68, 70, 71, 72, 74, 77, 78, 79, 80, 83, 84, 85, 86, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [85]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

new_set1 = []

for s in set1:
    if s not in list_to_remove:
        new_set1.append(s)

set1 = set(new_set1)
print (set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 48, 50, 52, 54, 57, 58, 60, 63, 66, 67, 68, 70, 72, 74, 77, 78, 80, 83, 84, 85, 86, 88, 90, 94, 95, 96, 97, 98}