In [46]:
import sqlalchemy as db
import getpass

In [47]:
user = "root"
password = getpass.getpass("Insert password: ")
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/labselectmysql"

Insert password: ········

In [48]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

Connected to server!

In [49]:
import pandas as pd

In [50]:
#challenge 1
#step1

pd = pd.read_sql_query(""" select 
ta.title_id,
au.au_id,
ifnull(round(ti.price * s.qty * ti.royalty / 100 * ta.royaltyper / 100,0),2) as sr

from titleauthor as ta
left join authors as au on au.au_id = ta.au_id
left join sales as s on s.title_id = ta.title_id
left join titles as ti on ta.title_id = ti.title_id""", engine)

pd.head()

  title_id        au_id     sr
0   PS3333  172-32-1176   30.0
1   BU1032  213-46-8915    4.0
2   BU1032  213-46-8915    8.0
3   BU2075  213-46-8915   25.0
4   PC1035  238-95-7766  110.0

In [51]:
#step2

pd= pd.read_sql_query("""select
title_id,
au_id,
sum(sr)

from (
select 
ta.title_id,
au.au_id,
ifnull(round(ti.price * s.qty * ti.royalty / 100 * ta.royaltyper / 100,0),2) as sr

from titleauthor as ta
left join authors as au on au.au_id = ta.au_id
left join sales as s on s.title_id = ta.title_id
left join titles as ti on ta.title_id = ti.title_id ) as sales_royalty 

group by title_id, au_id """, engine)

AttributeError: 'DataFrame' object has no attribute 'read_sql_query'

In [44]:
#step3
pd= pd.read_sql_query (""" SELECT 
s1.title AS "TITLE" ,
s1.au_id "AUTHOR ID",
sum(s1.SR) AS "Aggregated royalties"

FROM (
	SELECT t.title_id AS "TITLE" , tta.au_id "AUTHOR ID", round(t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100,3) AS "SR"
		FROM titles AS t 
		INNER JOIN titleauthor AS tta
		ON  t.title_id = tta.title_id
		INNER JOIN authors AS au
		ON tta.au_id = au.au_id
        INNER JOIN sales as s
		ON t.title_id=s.title_id
        )
        AS s1
        
ORDER BY s1.au_id, s1.title_id """, engine)
pd

AttributeError: 'DataFrame' object has no attribute 'read_sql_query'

In [52]:
#Challenge 3


pd= pd.read_sql_query("""" select 
au_id,
sum(sum_royalties +sr) as total_profit 

from

 ( select
title_id,
au_id,
sum(sr) as sum_royalties

from (
select 
ta.title_id,
au.au_id,
ifnull(round(ti.price * s.qty * ti.royalty / 100 * ta.royaltyper / 100,0),2) as sr

from titleauthor as ta
left join authors as au on au.au_id = ta.au_id
left join sales as s on s.title_id = ta.title_id
left join titles as ti on ta.title_id = ti.title_id ) as sales_royalty 

group by title_id, au_id ) as profit 

left join titles as t  on t.title_id = profit.title_id
order by total_profit desc """, engine)

AttributeError: 'DataFrame' object has no attribute 'read_sql_query'