In [1]:
import sqlalchemy as db
from getpass import getpass
import pymysql

In [2]:
user='root'
password=getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName="solution.sql"
connectionData= f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [6]:
engine= db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [7]:
import pandas as pd

In [9]:
df_challenge1=pd.read_sql_query("""SELECT au_id AS author, sum(royalties_author_title) AS profits
FROM (SELECT au_id, title_id, SUM(price * qty * royalty / 100 * royaltyper / 100 ) AS royalties_author_title 
FROM (SELECT au_id,  titleauthor.title_id, royaltyper, royalty, titles.price, sales.qty 
FROM titleauthor
    LEFT JOIN titles ON titleauthor.title_id=titles.title_id
    LEFT JOIN sales ON Titleauthor.title_id=sales.title_id) AS STEP
    GROUP BY au_id, title_id) AS FINALSTEP
    GROUP BY au_id
    ORDER BY profits DESC
    LIMIT 3
        """, engine)
df_challenge1

        author  profits
0  238-95-7766  110.160
1  998-72-3567   88.456
2  807-91-6654   83.800

In [10]:
#no sé por qué no me deja ejecutarlo si en workbench funciona perfectamente
#he probado también a hacer los queries por separado y también me da error


df_challenge2=pd.read_sql_query(""" CREATE TEMPORARY TABLE STEP7 (

SELECT au_id,  titleauthor.title_id, royaltyper, royalty, titles.price, sales.qty FROM titleauthor
    LEFT JOIN titles ON titleauthor.title_id=titles.title_id
    LEFT JOIN sales ON Titleauthor.title_id=sales.title_id);
        
CREATE TEMPORARY TABLE STEP8 (

SELECT au_id, title_id, SUM(price * qty * royalty / 100 * royaltyper / 100 ) AS royalties_author_title FROM STEP7
    GROUP BY au_id, title_id);
    
SELECT au_id authors, sum(royalties_author_title) AS profits FROM STEP8
    GROUP BY au_id
    ORDER BY profits DESC
    LIMIT 3
        """, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CREATE TEMPORARY TABLE STEP8 (\n\nSELECT au_id, title_id, SUM(price * qty * royalt' at line 7")
[SQL:  CREATE TEMPORARY TABLE STEP7 (

SELECT au_id,  titleauthor.title_id, royaltyper, royalty, titles.price, sales.qty FROM titleauthor
    LEFT JOIN titles ON titleauthor.title_id=titles.title_id
    LEFT JOIN sales ON Titleauthor.title_id=sales.title_id);

CREATE TEMPORARY TABLE STEP8 (

SELECT au_id, title_id, SUM(price * qty * royalty / 100 * royaltyper / 100 ) AS royalties_author_title FROM STEP7
    GROUP BY au_id, title_id);

SELECT au_id authors, sum(royalties_author_title) AS profits FROM STEP8
    GROUP BY au_id
    ORDER BY profits DESC
    LIMIT 3
        ]
(Background on this error at: http://sqlalche.me/e/f405)