In [1]:
import pandas as pd
import sqlalchemy as db
from getpass import getpass

In [2]:
user = "root"
password = getpass("Insert password: ")

Insert password: ········

In [3]:
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/publications"

In [4]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

Connected to server!

In [7]:
df = pd.read_sql_query("""SELECT ta.au_id AUTHOR_ID, ta.title_id TITLE_ID, ROUND(t.price * s.qty *t.royalty/100 * t.royalty/100,2) SALES_ROYALTY
FROM titleauthor ta
	LEFT JOIN titles t ON t.title_id = ta.title_id
    LEFT JOIN sales s ON s.title_id = t.title_id
    ;""",engine)
df.head()

     AUTHOR_ID TITLE_ID  SALES_ROYALTY
0  213-46-8915   BU1032           1.00
1  213-46-8915   BU1032           2.00
2  409-56-7008   BU1032           1.00
3  409-56-7008   BU1032           2.00
4  267-41-2394   BU1111           2.99