In [ ]:
import sqlalchemy as db
import getpass
import pandas as pd

In [ ]:
user = "root"
password = getpass.getpass("Insert password: ")
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/publications"

In [ ]:
#challenge 1
#step1
df = pd.read_sql_query("SELECT t.title_id AS TITLEID,ta.au_id AS AUTHORID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) AS Royalty FROM titleauthor AS ta RIGHT JOIN titles AS t ON t.title_id=ta.title_id RIGHT JOIN sales AS s ON t.title_id=s.title_id;",engine)
df

In [ ]:
#challenge 1
#step2
df = pd.read_sql_query("SELECT TitleID, AuthorID, sum(Royalty) AS Royalty FROM SELECT t.title_id AS TitleID,ta.au_id AS AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) AS Royalty FROM titleauthor AS ta RIGHT JOIN titles AS t ON t.title_id=ta.title_id RIGHT JOIN sales AS s ON t.title_id=s.title_idAS calc GROUP BY TitleID,AuthorID ORDER BY Royalty DESC;
",engine)
df

In [ ]:
#challenge 1
#step2
df = pd.read_sql_query("SELECT AuthorID, sum(Royalty)+t.advance as PROFIT FROM SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty FROM titleauthor as ta INNER JOIN titles as t ON t.title_id=ta.title_id INNER JOIN sales as s ON t.title_id=s.title_id as calc GROUP BY TitleID,AuthorID ORDER BY Royalty DESC as royal INNER JOIN titles as t TitleID=t.title_id, GROUP BY AuthorID ORDER BY PROFIT DESC LIMIT 3;",engine)
df