# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
# Your Code
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()


babelg = db.companies.find({"name":"Babelgum"})

babelg
cursor = db.list_collections()
for name in babelg:
    print(name["name"])

Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [16]:
# Your Code
from pymongo import ASCENDING, DESCENDING
query = {
    "number_of_employees": {
        "$gt": 5000
    } 
}
employees = db.companies.find(query).sort([("number_of_employees", DESCENDING)]).limit(20)
for e in employees:
    print(e["name"],e["number_of_employees"])

Siemens 405000
IBM 388000
Toyota 320000
PayPal 300000
Nippon Telegraph and Telephone Corporation 227000
Samsung Electronics 221726
Accenture 205000
Tata Consultancy Services 200300
Flextronics International 200000
Safeway 186000
Sony 180500
LG 177000
Ford 171000
Boeing 160000
Digital Equipment Corporation 140000
Nokia 125000
MItsubishi Electric 107000
MItsubishi Electric 107000
Comcast 100000
Bertelsmann 100000

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [4]:
# Your Code
query = {
    "$and":[
        {"founded_year":{"$gte":2000}},
        {"founded_year":{"$lte":2005}}
    ]
}
founded = db.companies.find(query).limit(10)
for e in founded:
    print(e["name"],e["founded_year"])

Wetpaint 2005
Zoho 2005
Omnidrive 2005
Digg 2004
StumbleUpon 2002
Helio 2005
Gizmoz 2003
Plaxo 2002
Facebook 2004
Technorati 2002

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [5]:
# Your Code
query = {
    "$and":[
        {"ipo.valuation_amount":{"$gt":100000000}},
        {"founded_year":{"$lt":2010}}
    ]
}
val_am = db.companies.find(query).limit(1)
for e in val_am:
    print(e["name"],e["ipo"])

Facebook {'valuation_amount': 104000000000, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 5, 'pub_day': 18, 'stock_symbol': 'NASDAQ:FB'}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [6]:
# Your Code
query = {
    "$and":[
        {"number_of_employees":{"$lt":1000}},
        {"founded_year":{"$lt":2005}}
    ]
}
comp = db.companies.find(query).sort([("number_of_employees", DESCENDING)]).limit(10)
for e in comp:
    print(e["name"],e["number_of_employees"])

Infinera Corporation 974
NorthPoint Communications Group 948
888 Holdings 931
Forrester Research 903
SonicWALL 900
Webmetrics 900
Cornerstone OnDemand 881
Yelp 800
ZoomInfo 800
MySpace 800

### 6. All the companies that don't include the `partners` field.

In [15]:
# Your Code
query = {
    "partners":{"$exists": False} 
}
part = db.companies.find(query)
for p in part:
    print(p["name"])
    #print(len(p))
#No sé que hice mal para que no hiciese print ni de name ni probando el len

### 7. All the companies that have a null type of value on the `category_code` field.

In [14]:
# Your Code
query = {
    "category_code": None
}

categ = db.companies.find(query).limit(10)
for c in categ:
    print(len(c))

42
42
42
42
42
42
42
42
42
42

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [19]:
# Your Code
query = {
    "$and":[
        {"number_of_employees":{"$gte":100}},
        {"number_of_employees":{"$lt":1000}}
    ]
}
employ = db.companies.find(query).limit(10)
for e in employ:
    print(e["name"],e["number_of_employees"])

#le pongo el límite porque da un print muy largo

AdventNet 600
OpenX 305
AddThis 120
LifeLock 644
Jajah 110
Livestream 120
Ustream 250
iContact 300
Yelp 800
Dailymotion 120

### 9. Order all the companies by their IPO price in a descending order.

In [21]:
# Your Code
ipo = db.Crunch.find().sort([("ipo",-1)]).limit(5)
for i in ipo:
    print(len(i))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code