# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/site-packages (3.10.1)

In [2]:
from pymongo import MongoClient

dbName = "datamad0620"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [3]:
# Your Code
query = {
        "name":
            {"$eq":"Babelgum"}
}
projection = {"name":1, "_id":0}
q1 = db.companies.find(query,projection)
list(q1)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [4]:
# Your Code
from pymongo import ASCENDING, DESCENDING
query = {
        "number_of_employees"
        :{"$gt":5000}
}
q2 = db.companies.find(query).limit(20).sort([("number_of_employees",DESCENDING)])
q2 = list(q2)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [5]:
# Your Code

query = {
    "$and":
        [{"founded_year":{"$gte":2000}},
         {"founded_year":{"$lte":2005}}
        ]
}
projection = {"name":1, "founded_year":1,"_id":0}
q3 = list(db.companies.find(query, projection))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [7]:
# Your Code
#{$and:[{"total_money_raised":{"$gte":"$100.0M"}},{"founded_year":{"$lt":2010}}]}

query = {
    "$and":
    [{"funding_rounds":{"$lt":1000}},
     {"founded_year":{"$lt":2019}}
    ]
}
projection = {"name":1, "ipo":1,"_id":0}
q4 = list(db.companies.find(query,projection))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [8]:
# Your Code
query = {
    "$and":
    [{"number_of_employees":{"$lt":1000}},
     {"founded_year":{"$lt":2005}}
    ]
}

q5 = list(db.companies.find(query).limit(10).sort([("number_of_employees",DESCENDING)]))

### 6. All the companies that don't include the `partners` field.

In [9]:
# Your Code
query ={ 
    "partners" : { "$exists" : "false" } 
}

q6 = list(db.companies.find(query))

### 7. All the companies that have a null type of value on the `category_code` field.

In [45]:
# Your Code
query = {"category_code":{ "$type": "null"}}
q7= list(db.companies.find(query))
q17

[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [11]:
# Your Code
query = {
    "$and":
    [{"number_of_employees":{"$gte":100}},
     {"number_of_employees":{"$lte":1000}}
    ]
}
projection = {"name":1, "number_of_employees":1,"_id":0}
q8 = list(db.companies.find(query,projection))

### 9. Order all the companies by their IPO price in a descending order.

In [12]:
# Your Code
query = {}
q9 = db.companies.find(query).sort([("ipo", DESCENDING)])

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [13]:
# Your Code
query = {}
q10 = db.companies.find(query).sort([("number_of_employees", DESCENDING)]).limit(10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [14]:
# Your Code
query = {"founded_year":
         {"$gte":6}
        }
q10 = list(db.companies.find(query).limit(100))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [15]:
# Your Code
query = {"$and":
         [{"founded_year":{"$lt":2000}},
          { "ipo": {"valuation_amount":{"$gt":10000}}}
         ]
        }
q12 = list(db.companies.find(query))
q12

query12 = {"$and":[{"founded_year":{"$lte":2000}},{"ipo.valuation_amount":{"$gte":10000}}]}
list(db["companies"].find(query12,{"_id":0,"name":1,"ipo.valuation_amount":1}).sort("number_of_employees",-1).limit(10))

[]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [16]:
# Your Code
query = {"founded_year":{"$gt":2010}}
        
projection = {"name":1, "acquisition":1,"_id":0}
q13 = list(db.companies.find(query,projection).sort([("acquisition.price_amount", DESCENDING)]))

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [17]:
# Your Code
query = {}
projection = {"name":1, "founded_year":1,"_id":0}
q14 = list(db.companies.find(query, projection).sort([("founded_year", DESCENDING)]).limit(50))

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [18]:
# Your Code
query = {
        "founded_day"
        :{"$lte":7}
}
q15 = list(db.companies.find(query).sort([("acquisition.price_amount", DESCENDING)]).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [19]:
# Your Code

query = {"$and":
         [{"number_of:employees":{"$gt":4000}},
          { "category_code": {"$eq":"web"}}
         ]
        }

q16 = list(db.companies.find(query).sort([("number_of_employees", ASCENDING)]))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [20]:
# Your Code
query = {"$and":
        [{"acquisition": {"price_amount":{"$gt":10000000}}},
         {"acquisition": {"price_currency_code":{"$eq":"EUR"}}}
        ]
}
q17 = list(db.companies.find(query))

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [36]:
# Your Code
query = {"acquisition": {"acquired_year":{"$lte":3}}}
projection = {"name":1, "acquisition":1}

q18 = list(db.companies.find(query,projection).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [42]:
# Your Code

query = {"$and":
           [{"founded_year":{"$gte":2000}}, 
            {"founded_year":{"$lte":2010}}, 
            {"acquisition.acquired_year":{"$gt":2011}}]
          }
       
q19 = list(db.companies.find(query))

### 20. All the companies that have been 'deadpooled' after the third year.

In [46]:
# Your Code
query = {"deadpooled_year":{"$gt":3}}
q20 = list(db.companies.find(query))