# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
#client = MongoClient("")
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

In [2]:
### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

cur = ({"name":{"$eq":"Babelgum"}})
list(db['companies'].find(cur,{"_id":0,"name":1}))

[{'name': 'Babelgum'}]

In [3]:
# Your Code

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [169]:
# Your Code # DESCENDIGN
#number_of_employees answer = list(db.companies.find(cur,{"_id":0, "ipo":1, "name":1}))
from pymongo import ASCENDING, DESCENDING
cur = ({"number_of_employees":{"$gt":5000}})

answer = list(db.companies.find(cur,{"_id":0,"name":1,"number_of_employees":1}).limit(20).sort([("number_of_employees",DESCENDING)]))         
answer

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [171]:
# Your Code
cur = {"$and":[{"founded_year":{"$gte":2000}}, {"founded_year":{"$lte":2005}}]}
answer = list(db.companies.find(cur,{"_id":0, "founded_year":1, "name":1}))
answer[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Gizmoz', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [82]:
# Your Code
cur = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}},{"founded_year":{"$lt":2010}}]}
answer = list(db.companies.find(cur,{"_id":0, "ipo":1, "name":1}))
answer[0:2]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [176]:
# Your Cod
cur = {"$and":[{"founded_year":{"$lte":2005}}, {"number_of_employees":{"$lte":1000}}]}
cur = list(db.companies.find(cur,{"_id":0, "number_of_employees":1,"name":1}).limit(10).sort([("number_of_employees",DESCENDING)]))
cur

[{'name': 'Akamai Technologies', 'number_of_employees': 1000},
 {'name': 'Omniture', 'number_of_employees': 1000},
 {'name': 'Yodle', 'number_of_employees': 1000},
 {'name': 'Sonus Networks', 'number_of_employees': 1000},
 {'name': 'Telenav', 'number_of_employees': 1000},
 {'name': 'Antal International', 'number_of_employees': 1000},
 {'name': 'SK Net Service Company Ltd', 'number_of_employees': 1000},
 {'name': 'Gumtree', 'number_of_employees': 1000},
 {'name': 'FANUC Robotics America', 'number_of_employees': 1000},
 {'name': "OC'LIANE", 'number_of_employees': 1000}]

### 6. All the companies that don't include the `partners` field.

In [181]:
# Your Codec
cur = list(db.companies.find({ "partners": { "$exists": "false"}}))

### 7. All the companies that have a null type of value on the `category_code` field.

In [197]:
# Your Code
#category_code: $null
cur = ({"category_code":{"$type":"null"}})
cur = list(db["companies"].find(cur,{"_id":0,"name":1}))
cur [0:10]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'MMDAYS'},
 {'name': 'Touch Clarity'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [58]:
# Your Code
cur = {"$and":[{"number_of_employees":{"$gte":100}}, {"number_of_employees":{"$lte":1000}}]}
cur = list(db.companies.find(cur,{"_id":0, "name":1, "number_of_employees":1}))
cur[:10]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [116]:
# Your Code
cur = list(db.companies.find({},{"IPO":1 ,"_id":0, "name":1}).limit(10).sort([("IPO",DESCENDING)]))
cur
# pongo limit 10 aunque no lo pidan para que no explote

[{'name': 'AdventNet'},
 {'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Flektor'},
 {'name': 'Geni'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Digg'},
 {'name': 'Gizmoz'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [118]:
# Your Code
cur = list(db.companies.find({},{"number_of_employees":1}).limit(10).sort([("number_of_employees",DESCENDING)]))
cur

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'), 'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'), 'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'), 'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'), 'number_of_employees': 227000},
 {'_id': ObjectId('52cdef7d4bab8bd675298aa4'), 'number_of_employees': 221726},
 {'_id': ObjectId('52cdef7d4bab8bd675298b99'), 'number_of_employees': 205000},
 {'_id': ObjectId('52cdef7e4bab8bd67529a657'), 'number_of_employees': 200300},
 {'_id': ObjectId('52cdef7e4bab8bd67529aa51'), 'number_of_employees': 200000},
 {'_id': ObjectId('52cdef7d4bab8bd675299156'), 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [164]:
# Your Code
cur = ({"founded_month":{"$in": list(range(7,13))}})
cur = list(db.companies.find(cur,{"_id":0, "name":1}).limit(1000))
cur[0:10]

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Omnidrive'},
 {'name': 'Digg'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'eBay'},
 {'name': 'Kyte'},
 {'name': 'Thoof'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [200]:
# Your Code
cur={"$and":[{"founded_year":{"$lte":2000}},{"acquisition.price_amount":{"$gt":1000000}}]}
cur = list(db.companies.find(cur,{"_id":0, "name":1, "founded_year":1}).limit(10))
cur

[{'name': 'Postini', 'founded_year': 1999},
 {'name': 'SideStep', 'founded_year': 1999},
 {'name': 'Recipezaar', 'founded_year': 1999},
 {'name': 'Cyworld', 'founded_year': 1999},
 {'name': 'PayPal', 'founded_year': 1998},
 {'name': 'Snapfish', 'founded_year': 1999},
 {'name': 'Neopets', 'founded_year': 1999},
 {'name': 'Zappos', 'founded_year': 1999},
 {'name': 'Sun Microsystems', 'founded_year': 1982},
 {'name': 'Alibaba', 'founded_year': 1999}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [209]:
# Your Code
cur={"$and":[{"acquisition.acquired_year":{"$gte":2010}}]}
answer = list(db.companies.find(cur,{"_id":0, "name":1, "acquisition.acquired_year":1}).limit(10))
answer

[{'name': 'Wetpaint', 'acquisition': {'acquired_year': 2013}},
 {'name': 'Geni', 'acquisition': {'acquired_year': 2012}},
 {'name': 'Digg', 'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Veoh', 'acquisition': {'acquired_year': 2010}},
 {'name': 'Jingle Networks', 'acquisition': {'acquired_year': 2011}},
 {'name': 'blogTV', 'acquisition': {'acquired_year': 2013}},
 {'name': 'delicious', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Jobster', 'acquisition': {'acquired_year': 2010}},
 {'name': 'Revision3', 'acquisition': {'acquired_year': 2012}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [132]:
# Your Code
cur = list(db.companies.find({},{"founded_year":1, "_id":0, "name":1}).limit(10).sort([("founded_year",DESCENDING)]))
cur

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [221]:
# Your Code


cur = ({"founded_day":{"$in": list(range(1,8))}})
cur = list(db.companies.find(cur,{"_id":0, "name":1}).limit(10).sort([("acquisition_price",DESCENDING)]))
cur

[{'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Gizmoz'},
 {'name': 'StumbleUpon'},
 {'name': 'Helio'},
 {'name': 'Facebook'},
 {'name': 'Joost'},
 {'name': 'Babelgum'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [236]:
# Your Code
cur={"$and":[{"acquisition.price_currency_code":{"$eq":"EUR"}},{"acquisition.price_amount":{"$gt":10000000}}]}
cur = list(db.companies.find(cur,{"_id":0, "name":1}).limit(10))
cur

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'},
 {'name': 'Tuenti Technologies'},
 {'name': 'BioMed Central'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [239]:
# Your Code
cur = ({"acquisition.acquired_year":{"$lte":3}})
cur = list(db.companies.find(cur,{"_id":0, "name":1}).limit(10))
cur

[]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code