In [1]:
import pandas as pd
import sqlalchemy as db
from getpass import getpass

In [2]:
user = "root"
password = getpass("Insert password: ")

Insert password: ········

In [3]:
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/publications"

In [4]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

Connected to server!

In [5]:
#Challenge 1

df0 = pd.read_sql_query("""SELECT a.au_id AUTHOR_ID, a.au_fname LAST_NAME, a.au_lname NAME,title TITLE, pub_name PUBLISHERS FROM authors a
LEFT JOIN titleauthor ta ON ta.au_id = a.au_id
INNER JOIN titles t ON t.title_id = ta.title_id
LEFT JOIN publishers p ON p.pub_id = t.pub_id;""",engine)

df0

,AUTHOR_ID,LAST_NAME,NAME,TITLE,PUBLISHERS
0,213-46-8915,Marjorie,Green,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Abraham,Bennet,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Marjorie,Green,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Dean,Straight,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,Innes,del Castillo,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,Michel,DeFrance,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Anne,Ringer,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Cheryl,Carson,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Ann,Dull,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Sheryl,Hunter,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Charlene,Locksley,Net Etiquette,Algodata Infosystems
13,724-80-9391,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Anne,Ringer,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Albert,Ringer,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Albert,Ringer,Life Without Fear,New Moon Books
18,172-32-1176,Johnson,White,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Charlene,Locksley,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,Michael,O'Leary,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Burt,Gringlesby,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Akiko,Yokomoto,"Sushi, Anyone?",Binnet & Hardley

In [6]:
#challenge 2

df1 = pd.read_sql_query("""SELECT aut.au_id AS AUTHORID,aut.au_lname AS "LAST NAME",aut.au_fname AS "FIRST NAME",pu.pub_name AS PUBLISHER ,COUNT(ti.title) AS TITLECOUNT
 FROM authors AS aut
 LEFT JOIN titleauthor AS ta ON aut.au_id=ta.au_id
 LEFT JOIN titles AS ti ON ta.title_id=ti.title_id
 LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id
 GROUP BY AUTHORID,PUBLISHER;""",engine)

df1

       AUTHORID       LAST NAME   FIRST NAME             PUBLISHER  TITLECOUNT
0   172-32-1176           White      Johnson        New Moon Books           1
1   213-46-8915           Green     Marjorie  Algodata Infosystems           1
2   213-46-8915           Green     Marjorie        New Moon Books           1
3   238-95-7766          Carson       Cheryl  Algodata Infosystems           1
4   267-41-2394         O'Leary      Michael  Algodata Infosystems           1
5   267-41-2394         O'Leary      Michael      Binnet & Hardley           1
6   274-80-9391        Straight         Dean  Algodata Infosystems           1
7   341-22-1782           Smith      Meander                  None           0
8   409-56-7008          Bennet      Abraham  Algodata Infosystems           1
9   427-17-2319            Dull          Ann  Algodata Infosystems           1
10  472-27-2349      Gringlesby         Burt      Binnet & Hardley           1
11  486-29-1786        Locksley     Charlene  Algodata Infosystems           1
12  486-29-1786        Locksley     Charlene        New Moon Books           1
13  527-72-3246          Greene  Morningstar                  None           0
14  648-92-1872  Blotchet-Halls     Reginald      Binnet & Hardley           1
15  672-71-3249        Yokomoto        Akiko      Binnet & Hardley           1
16  712-45-1867    del Castillo        Innes      Binnet & Hardley           1
17  722-51-5454        DeFrance       Michel      Binnet & Hardley           1
18  724-08-9931        Stringer         Dirk                  None           0
19  724-80-9391      MacFeather      Stearns  Algodata Infosystems           1
20  724-80-9391      MacFeather      Stearns      Binnet & Hardley           1
21  756-30-7391          Karsen        Livia      Binnet & Hardley           1
22  807-91-6654        Panteley       Sylvia      Binnet & Hardley           1
23  846-92-7186          Hunter       Sheryl  Algodata Infosystems           1
24  893-72-1158        McBadden      Heather                  None           0
25  899-46-2035          Ringer         Anne      Binnet & Hardley           1
26  899-46-2035          Ringer         Anne        New Moon Books           1
27  998-72-3567          Ringer       Albert        New Moon Books           2

In [7]:
#Challenge 3

df2 = pd.read_sql_query("""SELECT a.au_id AUTHOR_ID, a.au_fname LAST_NAME, a.au_lname NAME, QTY
FROM authors a
LEFT JOIN titleauthor ta ON ta.au_id = a.au_id
LEFT JOIN titles t ON t.title_id = ta.title_id
LEFT JOIN(
SELECT sum(qty) AS QTY, title_id
FROM sales s
group by title_id) s ON s.title_id = t.title_id
ORDER BY QTY DESC
LIMIT 3
;""",engine)
df2

     AUTHOR_ID LAST_NAME    NAME    QTY
0  899-46-2035      Anne  Ringer  108.0
1  998-72-3567    Albert  Ringer  108.0
2  427-17-2319       Ann    Dull   50.0