In [1]:
import pandas as pd
import sqlalchemy as db
from getpass import getpass

In [ ]:
user = "root"
password = getpass("Insert password: ")

In [ ]:
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/publications"

In [ ]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

In [ ]:
#Challenge 1

df0 = pd.read_sql_query("""SELECT a.au_id AUTHOR_ID, a.au_fname LAST_NAME, a.au_lname NAME,title TITLE, pub_name PUBLISHERS FROM authors a
LEFT JOIN titleauthor ta ON ta.au_id = a.au_id
INNER JOIN titles t ON t.title_id = ta.title_id
LEFT JOIN publishers p ON p.pub_id = t.pub_id;""",engine)

df0

In [ ]:
#challenge 2

df1 = pd.read_sql_query("""SELECT aut.au_id AS AUTHORID,aut.au_lname AS "LAST NAME",aut.au_fname AS "FIRST NAME",pu.pub_name AS PUBLISHER ,COUNT(ti.title) AS TITLECOUNT
 FROM authors AS aut
 LEFT JOIN titleauthor AS ta ON aut.au_id=ta.au_id
 LEFT JOIN titles AS ti ON ta.title_id=ti.title_id
 LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id
 GROUP BY AUTHORID,PUBLISHER;""",engine)

df1

In [ ]:
#Challenge 3

df2 = pd.read_sql_query("""SELECT a.au_id AUTHOR_ID, a.au_fname LAST_NAME, a.au_lname NAME, QTY
FROM authors a
LEFT JOIN titleauthor ta ON ta.au_id = a.au_id
LEFT JOIN titles t ON t.title_id = ta.title_id
LEFT JOIN(
SELECT sum(qty) AS QTY, title_id
FROM sales s
group by title_id) s ON s.title_id = t.title_id
ORDER BY QTY DESC
LIMIT 3
;""",engine)
df2

In [ ]:
#Challenge 4