In [13]:
import sqlalchemy as db
from getpass import getpass
import pymysql

In [14]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [15]:
dbName = "Publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [16]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [17]:
import pandas as pd

In [18]:
df = pd.read_sql_query('''
SELECT 
	a.au_id 'AUTHOR ID', 
	au_lname 'LAST NAME', 
	au_fname 'FIRST NAME', 
	t.title TITLE, 
	pub_name PUBLISHER
		FROM Publications.authors a  
		INNER JOIN titleauthor ta ON a.au_id = ta.au_id
		LEFT JOIN titles t ON ta.title_id = t.title_id
		LEFT JOIN publishers p ON p.pub_id = t.pub_id''', engine)

In [19]:
df.head()

,AUTHOR ID,LAST NAME,FIRST NAME,TITLE,PUBLISHER
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books

In [20]:
df = pd.read_sql_query("""
SELECT 
	a.au_id 'AUTHOR ID', 
	au_lname 'LAST NAME', 
	au_fname 'FIRST NAME', 
	p.pub_name PUBLISHER,
    count(t.title) 'TITLE COUNT'
		FROM Publications.authors a  
		INNER JOIN titleauthor ta ON a.au_id = ta.au_id
		LEFT JOIN titles t ON ta.title_id = t.title_id
        LEFT JOIN publishers p ON t.pub_id = p.pub_id 
        GROUP BY a.au_id, p.pub_name
        ORDER BY a.au_id DESC;
    """ , engine) #funciona en MYSQL aqui me sale este error y no consiguo solucionarlo
df.head()

     AUTHOR ID LAST NAME FIRST NAME             PUBLISHER  TITLE COUNT
0  998-72-3567    Ringer     Albert        New Moon Books            2
1  899-46-2035    Ringer       Anne      Binnet & Hardley            1
2  899-46-2035    Ringer       Anne        New Moon Books            1
3  846-92-7186    Hunter     Sheryl  Algodata Infosystems            1
4  807-91-6654  Panteley     Sylvia      Binnet & Hardley            1

In [21]:
df = pd.read_sql_query("""
SELECT 
	a.au_id 'AUTHOR ID', 
	au_lname 'LAST NAME', 
	au_fname 'FIRST NAME',
    sum(t.ytd_sales) 'TOTAL'
		FROM authors a  
		INNER JOIN titleauthor ta ON a.au_id = ta.au_id
		LEFT JOIN titles t ON ta.title_id = t.title_id
        LEFT JOIN publishers p ON t.pub_id = p.pub_id 
        GROUP BY a.au_id
        ORDER BY TOTAL DESC;
    """ , engine)
df.head(3)

     AUTHOR ID LAST NAME FIRST NAME    TOTAL
0  899-46-2035    Ringer       Anne  24291.0
1  213-46-8915     Green   Marjorie  22817.0
2  722-51-5454  DeFrance     Michel  22246.0

In [22]:
df = pd.read_sql_query("""
SELECT 
	a.au_id 'AUTHOR ID', 
	au_lname 'LAST NAME', 
	au_fname 'FIRST NAME',
    IFNULL(sum(t.ytd_sales),0) 'TOTAL'
		FROM authors a  
		LEFT JOIN titleauthor ta ON a.au_id = ta.au_id
		LEFT JOIN titles t ON ta.title_id = t.title_id
        LEFT JOIN publishers p ON t.pub_id = p.pub_id 
        GROUP BY a.au_id
        ORDER BY TOTAL DESC
    """ , engine)
df

      AUTHOR ID       LAST NAME   FIRST NAME    TOTAL
0   899-46-2035          Ringer         Anne  24291.0
1   213-46-8915           Green     Marjorie  22817.0
2   722-51-5454        DeFrance       Michel  22246.0
3   648-92-1872  Blotchet-Halls     Reginald  15096.0
4   238-95-7766          Carson       Cheryl   8780.0
5   267-41-2394         O'Leary      Michael   7971.0
6   724-80-9391      MacFeather      Stearns   4251.0
7   409-56-7008          Bennet      Abraham   4095.0
8   427-17-2319            Dull          Ann   4095.0
9   472-27-2349      Gringlesby         Burt   4095.0
10  672-71-3249        Yokomoto        Akiko   4095.0
11  274-80-9391        Straight         Dean   4095.0
12  846-92-7186          Hunter       Sheryl   4095.0
13  172-32-1176           White      Johnson   4072.0
14  486-29-1786        Locksley     Charlene   3336.0
15  998-72-3567          Ringer       Albert   2156.0
16  712-45-1867    del Castillo        Innes   2032.0
17  756-30-7391          Karsen        Livia    375.0
18  807-91-6654        Panteley       Sylvia    375.0
19  724-08-9931        Stringer         Dirk      0.0
20  893-72-1158        McBadden      Heather      0.0
21  527-72-3246          Greene  Morningstar      0.0
22  341-22-1782           Smith      Meander      0.0

In [64]:
df = pd.read_sql_query("""
SELECT 
	a.au_id 'AUTHOR ID', 
	au_lname 'LAST NAME', 
	au_fname 'FIRST NAME',
    IFNULL(sum(t.ytd_sales),0) 'TOTAL',
    ((t.price*(t.royalty/100))* t.ytd_sales) + t.advance*(t.royalty/100) PROFIT
		FROM authors a  
		LEFT JOIN titleauthor ta ON a.au_id = ta.au_id
		LEFT JOIN titles t ON ta.title_id = t.title_id
        LEFT JOIN publishers p ON t.pub_id = p.pub_id 
        GROUP BY a.au_id
        ORDER BY PROFIT DESC
    """ , engine)
df

InternalError: (pymysql.err.InternalError) (1055, "Expression #5 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'Publications.t.price' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
SELECT
	a.au_id 'AUTHOR ID',
	au_lname 'LAST NAME',
	au_fname 'FIRST NAME',
    IFNULL(sum(t.ytd_sales),0) 'TOTAL',
    ((t.price*(t.royalty/100))* t.ytd_sales) + t.advance*(t.royalty/100) PROFIT
		FROM authors a
		LEFT JOIN titleauthor ta ON a.au_id = ta.au_id
		LEFT JOIN titles t ON ta.title_id = t.title_id
        LEFT JOIN publishers p ON t.pub_id = p.pub_id
        GROUP BY a.au_id
        ORDER BY PROFIT DESC
    ]
(Background on this error at: http://sqlalche.me/e/2j85)